@model List<App.Domain.Core.Entities.Services.SubCategory>

@{
    ViewData["Title"] = "SubCategories";
    Layout = "_Layout";
}

<section class="feature-cat-area pt-100" id="category">
	<div class="container">
		<div class="row">
			@foreach (var subCat in Model)
			{
				<div class="col-lg-2 col-md-4 col-sm-6">
					<div class="single-fcat">
						<a asp-action="Services" asp-route-id ="@subCat.Id">
							<img src="@subCat.ImagePath" alt="" height="50" width="50">
						</a>
						<p> @subCat.Title </p>
					</div>
				</div>
			}
		</div>
	</div>
</section>