@using App.Domain.Core.Entities.User;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<!DOCTYPE html>
<html lang="fa" dir="rtl" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Home Service</title>
	<link href = "https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-SZXxX4whJ79/GFR3zY2tX2sKZ2A7E3D0gQRiuG8ihnqM1IdEbGx0WqhZtI6rW3zg" crossorigin="anonymous" />
	<!-- CSS ============================================= -->
	<link rel="stylesheet" href="~/HomeTemplate/css/linearicons.css">
	<link rel="stylesheet" href="~/HomeTemplate/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/HomeTemplate/css/bootstrap.css">
	<link rel="stylesheet" href="~/HomeTemplate/css/magnific-popup.css">
	<link rel="stylesheet" href="~/HomeTemplate/css/nice-select.css">
	<link rel="stylesheet" href="~/HomeTemplate/css/animate.min.css">
	<link rel="stylesheet" href="~/HomeTemplate/css/owl.carousel.css">
	<link rel="stylesheet" href="~/HomeTemplate/css/main.css">
	<link rel="stylesheet" href="~/HomeTemplate/css/CustomeStyle.css">
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a asp-controller = "Home" asp-action = "Index">
						<img src="~/ClientPanel/images.png" alt="" title="" height="50" width="50" />
					</a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu" dir="auto">
						@if (!User.Identity.IsAuthenticated)
						{
							<li>
								<a class="ticker-btn" asp-area= "Account" asp-controller = "Account" asp-action= "Login">ورود</a>
							</li>
							<li>
								<a class="ticker-btn" asp-area = "Account" asp-controller = "Account" asp-action = "Register">ثبت نام</a>
							</li>
						}
						else
						{
							@if (User.IsInRole("Client"))
							{
								<li >
									<a asp-area = "Client" asp-controller = "Dashboard" asp-action = "Index">
									<span class="ticker-btn">@User.Identity.Name</span>
								</a>
								</li>
							}
							else if (User.IsInRole("Expert"))
							{
								<li>
									<a asp-area = "Expert" asp-controller = "Dashboard" asp-action = "Index">
										<span class="ticker-btn">@User.Identity.Name</span>
									</a>
								</li>
							}
							<li >
								<a class = "ticker-btn" asp-area = "Account" asp-controller = "Account" asp-action = "LogOut">خروج</a>
							</li>
						}
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- #header -->
	<!-- start banner Area -->
	@if (ViewContext.RouteData.Values["Controller"].ToString() == "Home" &&
						ViewContext.RouteData.Values["Action"].ToString() == "Index")
	{
		<section class="banner-area relative" id="home">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner-content col-lg-12">
						<h1 class="text-white">
							<span></span> راحت پیدا میشه!
						</h1>
						<form asp-action = "search" class="serach-form-area">
							<div class="row justify-content-center form-wrap">
								<div class="col-lg-4 form-cols">
									<input type="text" class="form-control" name="search" placeholder="دنبال چه می گردید؟">
								</div>
								@await Component.InvokeAsync("CityCategory")
								<div class="col-lg-2 form-cols">
									<button type="button" class="btn btn-info">
										<span class="lnr lnr-magnifier"></span> جستجو
									</button>
								</div>
							</div>
						</form>
				</div>
				</div>
			</div>
		</section>
	}
	<main>
		@RenderBody()
	</main>>
	
	<section class="callto-action-area section-gap" id="join">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content col-lg-9">
					<div class="title text-center">
						<h1 class="mb-10 text-white"> هنوز عضو نشده اید؟</h1>
						<a class="primary-btn" asp-area = "Account" asp-controller = "Account" asp-action = "Register"> ثبت نام</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-3 col-md-12">
					<div class="single-footer-widget">
						<h6>خدمات برتر ما</h6>
						<ul class="footer-nav">
							<li><a href="#">نصب و راه‌اندازی سیستم‌های خانگی</a></li>
							<li><a href="#">تعمیرات و نگهداری</a></li>
							<li><a href="#">تعمیرات لوازم برقی</a></li>
							<li><a href="#">خدمات نظافت منزل</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-lg-6 col-md-12">
					<div class="single-footer-widget newsletter">
						<h6>خبرنامه</h6>
						<p>برای دریافت آخرین تخفیف‌ها و پیشنهادات ویژه، در خبرنامه ما ثبت‌نام کنید.</p>
						<div id="mc_embed_signup">
							<form target="_blank" novalidate="true" action="https://your-newsletter-service-url.com/subscribe" method="get" class="form-inline">
								<div class="form-group row" style="width: 100%">
									<div class="col-lg-8 col-md-12">
										<input name="EMAIL" placeholder="ایمیل خود را وارد کنید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل خود را وارد کنید'" required type="email">
										<div style="position: absolute; left: -5000px;">
											<input name="b_somevalue" tabindex="-1" value="" type="text">
										</div>
									</div>
									<div class="col-lg-4 col-md-12">
										<button class="nw-btn primary-btn">ثبت‌نام<span class="lnr lnr-arrow-right"></span></button>
									</div>
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer-bottom d-flex justify-content-between">
				<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
					 &copy;
					تمامی حقوق محفوظ است.
				</p>
				<div class="col-lg-4 col-sm-12 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
		</div>
	</footer>

	<!-- End footer Area -->
	<script src = "~/HomeTemplate/js/vendor/jquery-2.2.4.min.js"></script>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src = "~/HomeTemplate/js/vendor/bootstrap.min.js"></script>
	<script type= "text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src = "~/HomeTemplate/js/easing.min.js"></script>
	<script src = "~/HomeTemplate/js/hoverIntent.js"></script>
	<script src = "~/HomeTemplate/js/superfish.min.js"></script>
	<script src = "~/HomeTemplate/js/jquery.ajaxchimp.min.js"></script>
	<script src = "~/HomeTemplate/js/jquery.magnific-popup.min.js"></script>
	<script src = "~/HomeTemplate/js/owl.carousel.min.js"></script>
	<script src = "~/HomeTemplate/js/jquery.sticky.js"></script>
	<script src = "~/HomeTemplate/js/jquery.nice-select.min.js"></script>
	<script src = "~/MyCustomeTemplate/js/parallax.min.js"></script>
	<script src = "~/HomeTemplate/js/mail-script.js"></script>
	<script src = "~/HomeTemplate/js/main.js"></script>
</body>
</html>



