@using App.Domain.Core.Enums;
@{
    ViewData["Title"] = "Client Dashboard";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-8">
        <h2>خوش آمدید @ViewBag.CurrentUser.UserName</h2>
        <p></p>
    </div>
</div>