@{
    ViewData["Title"] = "Internal Server Error";
    Layout = "_Layout";
}


<h1>500 - Internal Server Error</h1>
<p>Something went wrong on our end. Please try again later.</p>
<a asp-controller="Home" asp-action="Index">Back to Home</a>