@model App.Domain.Core.DTOs.ReviewDto.CreateReviewDto;


@{
    ViewData["Title"] = "Submit Review";
    Layout = "_Layout";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<div class = "card shadow-sm mb-4">
    <div class = "card-body">
        <form asp-action = "SubmitReview" method = "post">
            <input type = "hidden" name = "ServiceOfferingId" value = "@ViewBag.Offering.Id"/>
            <div class="form-group mb-3">
                <label for="Rating" class="form-label">امتیاز (1 تا 5)</label>
                <select class = "form-select" name = "Rating" required>
                    <option value = "">انتخاب کنید</option>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="form-group mb-3">
                <label for = "Comment" class = "form-label">نظر شما</label>
                <textarea class = "form-control" asp-for = "Comment" rows = "3" required></textarea>
            </div>
            <button type = "submit" class = "btn btn-primary">ارسال نظر</button>
        </form>
    </div>
</div>